@{
    ViewData["Title"] = "Education";
}

<div class="text-center">
    <h1 class="display-4">Education</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ullamcorper posuere posuere. Nullam dictum varius pretium. Cras molestie turpis sit amet tellus rhoncus, non eleifend est suscipit. Integer diam erat, iaculis eu lacinia vitae, congue eget diam. Phasellus ac pretium nunc. Phasellus id accumsan felis, sed sagittis ex. Nunc egestas erat convallis, fermentum risus non, luctus est. Vivamus non massa a arcu luctus aliquam. Cras fringilla condimentum sem. Aenean eu elit viverra, facilisis ante vel, consequat arcu. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi eu interdum lectus. Aenean elementum sagittis rutrum. Suspendisse blandit vulputate arcu quis consectetur.</p>
</div>
